<!-- 시작 페이지-->

<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      div {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div>
      <h1>방명록</h1>
    </div>
    <div>
      <script>
        function confirm_check() {
          var writter = document.getElementById("writter").value;
          var description = document.getElementById("description").value;
          var password = document.getElementById("password").value;

          if (writter == "") {
            alert("이름 써!!");
            return false;
          } else if (description == "") {
            alert("내용 써!!");
            return false;
          } else if (password == "") {
            alert("비밀번호 써!!");
            return false;
          }
          return true;
        }
      </script>
      <form action="submit" onsubmit="return confirm_check()" method="post">
        <input
          type="text"
          name="writter"
          id="writter"
          size="15"
          placeholder="니 이름 써라"
        />
        <br />
        <br />
        <textarea name="description" rows="5," cols="30" id="description">
        </textarea>
        <br />
        <br />
        <input
          type="text"
          name="password"
          id="password"
          size="15"
          placeholder="비밀번호 적어"
        />
        <br /><br />
        <input type="submit" value="완료" />
      </form>
    </div>
  </body>
</html>
