<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      div {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>비밀번호 입력해 !</h1>
    </div>
    <div>
      <script>
        function pw_check() {
          var origin_password = "{{ password }}";
          var input_password = document.getElementById("input_password").value;

          if (input_password == "") {
            alert("비밀번호 입력해 !");
            return false;
          }
          if (origin_password != input_password) {
            alert("비밀번호 다시 입력해라 !");
            return false;
          }
          return true;
        }
      </script>
      <form action="divide_method" onsubmit="return pw_check();" method="POST">
        <input type="hidden" name="id" value="{{get_id}}" />
        <input type="hidden" name="_method" value="{{_method}}" />
        <input type="text" id="input_password" />
        <br /><br />
        <input type="submit" value="확인" />
      </form>
    </div>
  </body>
</html>
