<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      div {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>비밀번호 입력해 !</h1>
    </div>
    <div>
      <form action="divide_method" method="POST">
        <input type="hidden" name="id" value="{{get_id}}" />
        <input type="hidden" name="_method" value="{{_method}}" />
        <input type="text" name="password" />
        <br /><br />
        <input type="submit" value="확인" />
      </form>
    </div>
  </body>
</html>
