<!-- 게시글 목록을 보여주는 페이지 -->

<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      table {
        margin-left: auto;
        margin-right: auto;
      }
      div {
        text-align: center;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div>
      <h1>방명록 게시글 목록</h1>
    </div>

    <div>
      <table border="1">
        {% for key, value in view_dict.items() %}
        <tr>
          <th>{{ key }}</th>
          <td><a href={{url_for('main.anchor_routing_guestbook', id=key)}}>{{ value }}</a></td>
          <td>
            <form action="guestbook" method="POST">
              <input type="hidden" name="id" value="{{key}}" />
              <input type="submit" value="보기" />
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <br /><br />
    </div>
    <div>
      <form action="/" method="GET">
        <input type="submit" value="다시 남기기" />
      </form>
    </div>
  </body>
</html>
