<!DOCTYPE html>

<html>
  <head>
    <style type="text/css">
      div {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <h3>제출이 완료되었다</h3>
      <br />
    <div>
      <form action="get_list" method="post">
        <input type="hidden" name="writter" value="{{result.writter}}" />
        <input
          type="hidden"
          name="description"
          value="{{result.description}}"
        />
        <input type="submit" value="글 보기" />
      </form>
    </div>
  </body>
</html>
