<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      div {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <form action="update" method="POST">
        <input type="hidden" name="id" value="{{get_id}}" />
        <input
          type="text"
          name="writter"
          size="15"
          placeholder="니 이름 써라"
        />
        <br />
        <br />
        <textarea name="description" rows="5," cols="30"> </textarea>
        <br />
        <br />
        <input type="submit" value="수정완료" />
      </form>
    </div>
  </body>
</html>
